:root {
  --font-family: 'Montserrat', sans-serif;
  --text-color: #010101;

  --btn-primary-bg-color: #010101;
  --btn-primary-text-color: #ffffff;

  --btn-primary-hover-bg-color: #ffffff;
  --btn-primary-hover-text-color: #010101;

  --btn-primary-border-color: #010101;

  --card-item: 1;
  --card-item: 10px;

  --duration: 250ms;
}
//   --hero-bg-color: #ffb8ca;
//   --title-color: #d41443;
//   --text-color: #907e82;
//   --second-br-color: #fff5f6;
//   --card-color: #ffb8ca;
//   --second-card-color: #f0d1a5;
//   --third-card-color: #c2e297;
//   --pretitle-color: #ffa5ba;

//   --revie-br-color: #fafafa;
//   --mob-menu-bg: #e17992;

//   --accent-color: #d41443;
//   --btn-hover-color: #ecebeb;
//   --border-modal-color: #e18298;

//   --card-item: 1;
//   --card-gap: 0;
//   --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
