:root {
  --font-family: 'Montserrat', sans-serif;
  --text-color: #010101;

  --btn-primary-bg-color: #010101;
  --btn-primary-text-color: #ffffff;

  --btn-primary-hover-bg-color: #ffffff;
  --btn-primary-hover-text-color: #010101;

  --btn-primary-border-color: #010101;

  --card-item: 1;
  --card-gap: 10px;

  --duration: 250ms;
}
